*{
    margin: 0;
    padding: 0;
}

body{
   background-color: aqua;
}

#head{
    color: white;
    font-size: 2rem;
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
    gap: 1.5rem;
}

.gam{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: contain;
    margin: 2px;
    border: 1px solid black;
}

.gam:hover{
    border: 2px rgb(72, 176, 255) solid;
    cursor: pointer;
}

#sc,#s{
    display: flex;
    justify-content: center;
}
.a{
    font-size: 1rem;
    display: flex;
}
#pick{
    background-color: black;
    color: white;
    height: 20px;
    text-align: center;
    padding-top: 2px;
    font-size: 1rem;
}
/* #pick:hover{
    opacity: 50%;
} */

#ap{
    margin-top: 2rem;
    
    border-radius: 10%;
}